<div nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
      <div class="bar">
          <g2-bar height="295"   [title]="'Revenue'" [data]="monthlyRevenue"></g2-bar>
        </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
      <div class="rank">
        <h4 class="ranking-title">list</h4>
        <ul class="rank-list">
          <li *ngFor="let i of monthlyRevenue; let idx = index">
            <span class="number" [ngClass]="{'active': idx < 3}">{{idx+1}}</span>
            <span class="title">{{i.Month}}</span>
            <span class="value">{{i.Value }}</span>
          </li>
        </ul>
      </div>
    </div>
</div>
