<page-header>
  <nz-tabset>
    <nz-tab nzTitle="后台信息">
      <ng-template nz-tab>
        <app-setting-import-viewimport></app-setting-import-viewimport>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="批量导入">
      <ng-template nz-tab>
        <app-setting-import-batchimport></app-setting-import-batchimport>
      </ng-template>

    </nz-tab>
    <nz-tab nzTitle="单个导入">
      <ng-template nz-tab>
        <app-setting-import-singleimport></app-setting-import-singleimport>
      </ng-template>

    </nz-tab>

  </nz-tabset>

</page-header>
