<page-header>
  <form nz-form #f="ngForm" se-container="2" (ngSubmit)="cacu($event)" gutter="32">
    <se label="起始时间" error="请填写" col="3">
      <input type="date" nz-input [(ngModel)]="i.from" name="from" required>
    </se>
    <se label="截至日期" error="请填写，最多32位" col="3">
      <input type="date" nz-input [(ngModel)]="i.to" name="to" required>
    </se>

    <se>
      <button nz-button nzType="primary" [disabled]="f.invalid">Caculating</button>
    </se>
    <se label="result" col="1">{{result}}</se>
  </form>

  <g2-custom height="290" (resize)="resize($event)" (render)="render($event)"></g2-custom>


</page-header>
