<page-header>
  <form nz-form #f="ngForm" se-container="2" (ngSubmit)="cacu($event)" gutter="32">
    <se label="起始时间" error="请填写" col="3">
      <input type="date" nz-input [(ngModel)]="i.from" name="from" required>
    </se>
    <se label="截至日期" error="请填写，最多32位" col="3">
      <input type="date" nz-input [(ngModel)]="i.to" name="to" required>
    </se>

    <se>
      <button nz-button nzType="primary" [disabled]="f.invalid">Caculating</button>
    </se>
    <se label="result" col="1">{{result}}</se>
  </form>
  <div nz-row [nzGutter]="24">
    <nz-tabset nzType="card" (nzSelectedIndexChange)="selectedIndexChange($event)">
      <nz-tab nzTitle="Revenue Output">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
            <div class="bar">
              <g2-bar id="revenue" height="295" [title]="RevenueTitle" [data]="monthData"></g2-bar>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
            <div class="rank">
              <h4 class="ranking-title">list</h4>
              <ul class="rank-list">
                <li *ngFor="let i of monthData">
                  <span class="title">{{i.x}}</span>:
                  <span class="value">{{i.y|_currency}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Job        In" nzForceRender="true">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
            <div class="bar">
              <g2-bar *ngIf="show" id="revenue" height="295" [title]="RevenueTitle" [data]="jobinData"></g2-bar>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
            <div class="rank">
              <h4 class="ranking-title">list</h4>
              <ul class="rank-list">
                <li *ngFor="let i of jobinData">
                  <span class="title">{{i.x}}</span>:
                  <span class="value">{{i.y|_currency}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>

    </nz-tabset>
  </div>
  <div nz-row>
    <g2-bar id="revenue" height="295" [title]="RevenueTitle" [data]="jobinData"></g2-bar>
  </div>

</page-header>
