<nz-row>

  <nz-col nzMd="8" nzLg="8">
    <nz-select [(ngModel)]="importOption" nzShowSearch style="width: 340px"  nzAllowClear="true" nzPlaceHolder="请选择导入方式" >
      <nz-option nzLabel="导入全部属性并覆盖已存在项目" nzValue="cover"></nz-option>
      <nz-option nzLabel="导入全部属性但忽略已存在项目" nzValue="ignore"></nz-option>
      <nz-option nzLabel="只导入产出相关属性" nzValue="only"></nz-option>
    </nz-select>
  </nz-col>
 

  <nz-col nzMd="4" nzLg="4">
    <nz-month-picker [(ngModel)]="revenueMonth" *ngIf="importOption==='only'" nzPlaceHolder="Select Month"></nz-month-picker>
    
  </nz-col>
</nz-row>
<nz-row style="margin-top: 20px">
  <textarea [nzAutosize]="inputSetting" placeholder="Please paste Json string from Convertor here!" nz-input
    [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}"></textarea>
</nz-row>
<nz-row [nzGutter]="20">
  <nz-col [nzSpan]="10" nzOffset="2">
    <nz-statistic [nzValue]="pCount" nzSuffix="个" [nzTitle]="'Input Projects Number'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="10">
    <nz-statistic [nzValue]="pTime" nzSuffix="秒" [nzTitle]="'Estimate Import Time'"></nz-statistic>
  </nz-col>
</nz-row>

<button nz-button nzType="primary" (click)="import()" [nzLoading]="loading" [disabled]="disabled"
  nzBlock>Submit</button>
