<page-header>
  <!-- process项目数量，金额，含pie of business -->
  <!-- 本月 vs target  curve -->
  <!-- target 1-n月revenue 柱形图 -->

  <div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8">
      <g2-card id="card1" [title]="'年度完成'" contentHeight="144px" [action]="action1" [footer]="footer1">
        <ng-template #action1>
          <nz-tooltip [nzTitle]="'Whole Year'">
            <i nz-tooltip nz-icon type="info-circle"></i>
          </nz-tooltip>
        </ng-template>
        <g2-water-wave style="margin-top:10px;" title="Finished Percent" [percent]="percentYearRevenue" [height]="121">
        </g2-water-wave>
        <ng-template #footer1>
          <p class="text-truncate mb0">

            <span class="ml-sm">Actual:{{actualTotoal|_currency}} Budget:{{budgetTotal|_currency}}</span>
          </p>
        </ng-template>
      </g2-card>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8">
      <g2-card id="card2" [title]="'月度完成'" contentHeight="144px" [action]="action2" [footer]="footer2">
        <ng-template #action2>
          <nz-tooltip [nzTitle]="'月完成情况'">
            <i nz-tooltip nz-icon type="info-circle"></i>
          </nz-tooltip>
        </ng-template>
        <g2-water-wave style="margin-top:10px;" title="Finished Percent" [percent]="percentMonthRevenue" [height]="121">
        </g2-water-wave>
        <ng-template #footer2>
          <p class="text-truncate mb0">
            <span class="ml-sm">Actual:{{actualMonth|_currency}} Target:{{budgetMonth|_currency}}</span>
          </p>
        </ng-template>
      </g2-card>
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8">
      <g2-card id="card3" [title]="'实时数据'" contentHeight="144px" [action]="action3" [footer]="footer3">
        <ng-template #action3>
          <nz-tooltip [nzTitle]="'Trends this year'">
            <i nz-tooltip nz-icon type="info-circle"></i>
          </nz-tooltip>
        </ng-template>
        <div>
          <div>
            <p>截止</p>{{latestUpdateDate|_date}}
          </div>
          <div>
            <p>项目数量</p>{{totalLiveQuantity}}
          </div>
        </div>
        <ng-template #footer3>
          <p class="text-truncate mb0">
            Year to Day Revenue
            <span class="ml-sm">{{totalLiveAmount|_currency}}</span>
          </p>
        </ng-template>
      </g2-card>
    </div>

  </div>
  <!-- 细节数据tabset-revenue&job in -->
  <div nz-row [nzGutter]="24">
    <nz-tabset (nzSelectedIndexChange)="selectedIndexChange($event)" nzSelectedIndex="chartIndex">
      <nz-tab nzTitle="Revenue Output">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
            
              <g2-custom  height="280" (render)="render($event)"></g2-custom>
            
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
            <div class="rank">
              <h4 class="ranking-title">list</h4>
              <ul class="rank-list">
                <li *ngFor="let i of monthData">
                  <span class="title">{{i.x}}</span>:
                  <span class="value">{{i.y|_currency}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Job    In">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
            <div class="bar" *ngIf="!show">
              <g2-bar id="revenue" height="295" [title]="RevenueTitle" [data]="jobinData"></g2-bar>
            </div>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
            <div class="rank">
              <h4 class="ranking-title">list</h4>
              <ul class="rank-list">
                <li *ngFor="let i of jobinData">
                  <span class="title">{{i.x}}</span>:
                  <span class="value">{{i.y|_currency}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nz-tab>

    </nz-tabset>
  </div>
  <!-- engineer blocks -->
  <nz-card [nzLoading]="loading" [nzBordered]="false" [nzBodyStyle]="{'padding': '0 0 32px'}" class="offline-card mt-lg">
      <nz-table [nzData]="engineersList" [nzShowPagination]="false">
          <thead>
            <tr>
              <th>序号</th>
              <th >名字</th>
              <th>进展中项目</th>
              <th>进展中项目金额</th>
              <th >已完成项目</th>
              <th >已完成项目金额</th>
              <th >总Working Day</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of engineersList; let idx=index">
              <td>{{idx + 1}}</td>
              <td>{{i.Name}}</td>
              <td>
                  <g2-single-bar height="60" [value]="i.LiveCount" [max]="150"  line></g2-single-bar>
              </td>
              <td>
                  <g2-single-bar height="60" [value]="i.LiveAmount" [max]="1000000" line></g2-single-bar>
                </td>
              <td>
                <g2-single-bar height="60" [value]="i.FinishedCountofThisYear" [max]="400" line></g2-single-bar>
              </td>
              <td>
                  <g2-single-bar height="60" [value]="i.FinishedAmountofThisYear" [max]="4000000" line></g2-single-bar>
                </td>
              <td>
                  <g2-single-bar height="60" [value]="i.TotalLoadWorkingDay" [max]="5000" line></g2-single-bar>
                </td>
            </tr>
          </tbody>
        </nz-table>

</nz-card>
</page-header>
