<div nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
    <div class="bar">
      <g2-bar id="jobin" height="295"  [title]="'Job In'" [data]="monthJobinData"></g2-bar>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
    <div class="rank">
      <h4 class="ranking-title">list</h4>
      <ul class="rank-list">
        <li *ngFor="let i of monthJobinData">
          <span class="title">{{i.x}}</span>:
          <span class="value">{{i.y|_currency}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
