<nz-card>
  <nz-timeline nzMode="alternate">
    <nz-timeline-item nzColor="green" [nzDot]="dotTemplate" *ngFor="let item of i.Records">
      {{item.Title}}:{{item.Description}}\n{{item.CreatedOn|_date:'YYYY-MM-DD'}}\n<a nz-popconfirm
        nzTitle="Are you sure?" (nzOnConfirm)="delete(i.Records,item)" [nzIcon]="iconTpl">Deleted</a>
      <ng-template #iconTpl>
        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
      </ng-template>
    </nz-timeline-item>
  </nz-timeline>
  <ng-template #dotTemplate>
    <i nz-icon type="clock-circle-o" style="font-size: 16px;"></i>
  </ng-template>
</nz-card>
