<div style="background: #ECECEC; padding: 30px;">
  <nz-row [nzGutter]="20">
    <nz-col [nzSpan]="12">
      <nz-card style="height: 150px;">
        <nz-statistic [nzValue]="record.TotalCount" [nzTitle]="'Total Project'" [nzPrefix]="prefixTplOne"
          [nzSuffix]="'个'" [nzValueStyle]="{ color: '#3F8600' }">
        </nz-statistic>
        <ng-template #prefixTplOne><i nz-icon type="arrow-up"></i></ng-template>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card style="height: 150px;">
        <nz-statistic [nzValue]="record.LiveCount" [nzTitle]="'Live Project'" [nzPrefix]="prefixTplTwo" [nzSuffix]="'个'"
          [nzValueStyle]="{ color: '#CF1322' }">
        </nz-statistic>
        <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
      </nz-card>
    </nz-col>

  </nz-row>
  <nz-row [nzGutter]="20">
    <nz-col [nzSpan]="12">
      <nz-card style="height: 150px;">
        <nz-statistic [nzValue]="record.StartDate|date" [nzTitle]="'从'" [nzPrefix]="prefixTplTwo"
          [nzValueStyle]="{ color: '#CF1322'}">
        </nz-statistic>
        <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-card style="height: 150px;">
        <nz-statistic [nzValue]="record.LastUpdateTime|date" [nzTitle]="'到'" [nzPrefix]="prefixTplTwo"
          [nzValueStyle]="{ color: '#CF1322' }">
        </nz-statistic>
        <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
      </nz-card>
    </nz-col>
  </nz-row>
</div>
<nz-card [nzBordered]="false">
  <!-- <div class="d-flex align-items-center mb-lg">
    <h3 class="flex-1 text-lg">项目列表</h3>
    <div>
      <range-picker [(ngModel)]="params.OpenDateFrom" [(ngModelEnd)]="params.OpenDateTo"></range-picker>
      <nz-radio-group [(ngModel)]="status" nzButtonStyle="solid" class="mr-md">
        <label nz-radio-button [nzValue]="'joh'">
          <span>进行中</span>
        </label>
        <label nz-radio-button [nzValue]="'jfm'">
          <span>本月完成</span>
        </label>
        <label nz-radio-button [nzValue]="'jfy'">
          <span>本年完成</span>
        </label>
        <label nz-radio-button [nzValue]="'jfe'">
          <span>历史完成</span>
        </label>
      </nz-radio-group>

    </div>

    <nz-input-group nzSuffixIcon="anticon anticon-search" style="width: 270px;">
      <input type="text" nz-input placeholder="请输入">
    </nz-input-group>
  </div> -->

  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 24, xxl: 24 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">项目类型</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="status" name="status" id="status" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="engineer">工程师</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="engineer" name="engineer" id="engineer" [nzPlaceHolder]="'请选择'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of engineer; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="sales">销售</nz-form-label>
          <nz-form-control>
            <nz-select [nzPlaceHolder]="'请选择'" nzId="sales" [nzShowSearch]="true">
              <nz-option *ngFor="let i of sales; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="EngCS">工程助理</nz-form-label>
          <nz-form-control>
            <nz-select [nzPlaceHolder]="'请选择'" nzId="EngCS" [nzShowSearch]="true">
              <nz-option *ngFor="let i of EngCS; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
          <nz-form-item>
            <nz-form-label nzFor="clients">客户</nz-form-label>
            <nz-form-control>
              <nz-select [nzPlaceHolder]="'请选择'" nzId="clients" [nzShowSearch]="true">
                <nz-option *ngFor="let i of clients; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
            <nz-form-item>
              <nz-form-label nzFor="services">服务</nz-form-label>
              <nz-form-control>
                <nz-select [nzPlaceHolder]="'请选择'" nzId="services" [nzShowSearch]="true">
                  <nz-option *ngFor="let i of services; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
      <div nz-col nzMd="12" nzSm="24" *ngIf="expandForm">
          <nz-form-item>
            <nz-form-label nzFor="OpenDate">开案日期</nz-form-label>
            <nz-form-control>
                <range-picker [(ngModel)]="params.OpenDateFrom" [(ngModelEnd)]="params.OpenDateTo"></range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzSm="24" *ngIf="expandForm">
          <nz-form-item>
            <nz-form-label nzFor="CompleteDate">结案日期</nz-form-label>
            <nz-form-control>
                <range-picker [(ngModel)]="params.CompleteDateFrom" [(ngModelEnd)]="params.CompleteDateTo"></range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="checkloading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <a (click)="expandForm=!expandForm">
          {{expandForm ? '收起' : '展开'}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
      </div>
    </div>
  </form>
  <nz-table #nzTable [nzData]="ptsShow" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    [nzShowQuickJumper]="'true'">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzSortKey="ProjectNo" nzShowSort>
          Job No
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" #dropdown>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
              <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzShowSort nzSortKey="OpenDate">Open Date</th>
        <th nzShowSort nzSortKey="ClientName">Client</th>
        <th nzShowSort nzSortKey="ServiceNames">Services</th>
        <th nzShowSort nzSortKey="QuotedFee">Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ptsShow">
        <td>{{ data.ProjectNo }}</td>
        <td>{{ data.OpenDate|date }}</td>
        <td>{{ data.ClientName }}</td>
        <td>{{ data.ServiceNames }}</td>
        <td>{{ data.QuotedFee|currency }}</td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>
