<div style="padding: 20px;">
  <nz-row [nzGutter]="20">
    <div nz-col [nzSpan]="6" nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <nz-card style="height: 120px;">
        <nz-statistic [nzValue]="record.TotalCount||0" [nzTitle]="'Total Project'" [nzPrefix]="prefixTplOne"
          [nzSuffix]="'个'" [nzValueStyle]="{ color: '#3F8600' }">
        </nz-statistic>
        <ng-template #prefixTplOne><i nz-icon type="arrow-up"></i></ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6" nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <nz-card style="height: 120px;">
        <nz-statistic [nzValue]="record.LiveCount||0" [nzTitle]="'Live Project'" [nzPrefix]="prefixTplTwo"
          [nzSuffix]="'个'" [nzValueStyle]="{ color: '#CF1322' }">
        </nz-statistic>
        <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
      </nz-card>
    </div>

    <div nz-col [nzSpan]="6" nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <nz-card style="height: 120px;">
        <nz-statistic [nzValue]="record.StartDate||0|date" [nzTitle]="'从'" [nzPrefix]="prefixTplTwo"
          [nzValueStyle]="{ color: '#CF1322'}">
        </nz-statistic>
        <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6" nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <nz-card style="height: 120px;">
        <nz-statistic [nzValue]="record.LastUpdateTime||0|date" [nzTitle]="'到'" [nzPrefix]="prefixTplTwo"
          [nzValueStyle]="{ color: '#CF1322' }">
        </nz-statistic>
        <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
      </nz-card>
    </div>
  </nz-row>
</div>

<!-- <div class="d-flex align-items-center mb-lg">
    <h3 class="flex-1 text-lg">项目列表</h3>
    <div>
      <range-picker [(ngModel)]="params.OpenDateFrom" [(ngModelEnd)]="params.OpenDateTo"></range-picker>
      <nz-radio-group [(ngModel)]="status" nzButtonStyle="solid" class="mr-md">
        <label nz-radio-button [nzValue]="'joh'">
          <span>进行中</span>
        </label>
        <label nz-radio-button [nzValue]="'jfm'">
          <span>本月完成</span>
        </label>
        <label nz-radio-button [nzValue]="'jfy'">
          <span>本年完成</span>
        </label>
        <label nz-radio-button [nzValue]="'jfe'">
          <span>历史完成</span>
        </label>
      </nz-radio-group>

    </div>

    <nz-input-group nzSuffixIcon="anticon anticon-search" style="width: 270px;">
      <input type="text" nz-input placeholder="请输入">
    </nz-input-group>
  </div> -->

<!-- <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 24, xxl: 24 }">
      <div nz-col [nzSpan]="expandForm ? 24 : 16" *ngIf="!expandForm">
        <nz-form-item>
          <nz-form-label nzFor="jobno">项目号</nz-form-label>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input type="text" name="jobno" nz-input [disabled]="expandForm" [(ngModel)]="inputJobno"
                placeholder="input client name" />
            </nz-input-group>

          </nz-form-control>
        </nz-form-item>
      </div>

      <ng-template #suffixTemplate>
        <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="inputJobno"
          (click)="inputJobno = null"></i></ng-template>



      <div nz-col nzMd="12" nzLg="8"  nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="engineer">工 程 师</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="params.EngineerName" name="engineer" id="engineer" [nzPlaceHolder]="'请选择'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of engineer; let idx = index" [nzLabel]="i.text" [nzValue]="i.text"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="12" nzLg="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="sales">销 售</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="params.SalesName" name="sales" [nzPlaceHolder]="'请选择'" nzId="sales"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of sales; let idx = index" [nzLabel]="i.text" [nzValue]="i.text"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzLg="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="EngCS">工程助理</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="params.EngineeringCSName" name="eng" [nzPlaceHolder]="'请选择'" nzId="EngCS"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of EngCS; let idx = index" [nzLabel]="i.text" [nzValue]="i.text"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="10" nzLg="10" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="OpenDate">开案日期</nz-form-label>
          <nz-form-control>
            <range-picker [(ngModel)]="OpenDateFrom" name="OpenDateFrom" [(ngModelEnd)]="OpenDateTo"></range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="10" nzLg="10" nzSm="16" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="CompleteDate">结案日期</nz-form-label>
          <nz-form-control>
            <range-picker [(ngModel)]="CompleteDateFrom" [nzDisabled]="!IsFinished" name="CompleteDateFrom"
              [(ngModelEnd)]="CompleteDateTo"></range-picker>
          </nz-form-control>
        </nz-form-item>

      </div>
      <div nz-col nzMd="12" nzLg="8" nzSm="8" *ngIf="expandForm" style="height:56px;   
      line-height:35px;">
        <nz-form-item>
          <nz-form-label nzFor="isFinish">状态</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="IsFinished" name="isFinish" [nzPlaceHolder]="'请选择'" nzId="isFinish"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of jobProgressType; let idx = index" [nzLabel]="i.text" [nzValue]="idx">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="16" nzLg="12" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="clients">客户</nz-form-label>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input type="text" name="client" nz-input [(ngModel)]="params.ClientName"
                placeholder="input client name" />
            </nz-input-group>

          </nz-form-control>
        </nz-form-item>
      </div>
      <ng-template #suffixTemplate><i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill"
          nzType="close-circle" *ngIf="selectClient" (click)="selectClient = null"></i></ng-template>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="services">服务</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="selectService" name="service" [nzPlaceHolder]="'请选择'" nzId="services"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of services; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [disabled]="checkloading" [nzLoading]="checkloading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <a (click)="expandForm=!expandForm">
          {{expandForm ? '简单搜索' : '高级搜索'}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
        <a (click)="filterOpen=!filterOpen" *ngIf="ptsShow.length>1">
          {{filterOpen ? '关闭筛选' : '打开筛选'}}
          <i class="anticon" [class.anticon-down]="!filterOpen" [class.anticon-up]="filterOpen"></i>
        </a>
      </div>

    </div>
  </form>

  <form nz-form [nzLayout]="'inline'" *ngIf="filterOpen" (ngSubmit)="filterData()" class="search__form">
    <div nz-col nzMd="12" nzLg="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="category">项目类型</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectCategory" [nzDisabled]="true" name="category" id="category"
            [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
            <nz-option *ngFor="let i of category; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzMd="12" nzLg="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="clientType">客户类型</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectClientType" [nzDisabled]="true" name="clientType" id="clientType"
            [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
            <nz-option *ngFor="let i of clientType; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzMd="12" nzLg="8" nzSm="24">
      <nz-form-item>
        <nz-form-label nzFor="regionType">Region类型</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectRegionType" [nzDisabled]="true" name="regionType" id="regionType"
            [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
            <nz-option *ngFor="let i of regionType; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form> -->
<!-- <nz-card>
  <st #st [data]="ptsShow" [columns]="columns" [scroll]="{x:'800px'}" responsive [(loading)]="loading" [page]="pageInfo"></st>
</nz-card> -->
<!-- <nz-table #nzTable [nzData]="ptsShow" nzPageSize="20" nzPageIndex="1"
    [(nzTotal)]="totalCount" [nzShowQuickJumper]="'true'">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzSortKey="ProjectNo" nzShowSort>
          Job No
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" #dropdown>
            <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
              nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
              <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th nzShowSort nzSortKey="OpenDate">Open Date</th>
        <th nzShowSort nzSortKey="ClientName">Client</th>
        <th nzShowSort nzSortKey="ServiceNames">Services</th>
        <th nzShowSort nzSortKey="QuotedFee">Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ptsShow">
        <td>{{ data.ProjectNo }}</td>
        <td>{{ data.OpenDate|date }}</td>
        <td>{{ data.ClientName }}</td>
        <td>{{ data.ServiceNames }}</td>
        <td>{{ data.QuotedFee|currency }}</td>
      </tr>
    </tbody>
  </nz-table> -->

<!-- </nz-card> -->
