<nz-card>
  <nz-row [nzGutter]="20">
    <div nz-col [nzSpan]="8" nzXs="24" nzSm="12" nzMd="12" nzLg="8">
      <nz-card style="height: 120px;">
        <nz-statistic [nzValue]="record.TotalCount||0" [nzTitle]="'Total Project'" [nzPrefix]="prefixTplOne"
          [nzSuffix]="'个'" [nzValueStyle]="{ color: '#3F8600' }">
        </nz-statistic>
        <ng-template #prefixTplOne><i nz-icon type="arrow-up"></i></ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8" nzXs="24" nzSm="12" nzMd="12" nzLg="8">
      <nz-card style="height: 120px;">
        <nz-statistic [nzValue]="record.LiveCount||0" [nzTitle]="'Live Project'" [nzPrefix]="prefixTplTwo"
          [nzSuffix]="'个'" [nzValueStyle]="{ color: '#CF1322' }">
        </nz-statistic>
        <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8" nzXs="24" nzSm="12" nzMd="12" nzLg="8">
        <nz-card style="height: 120px;">
          <nz-statistic [nzValue]="record.AchieveCount||0" [nzTitle]="'Live Project'" [nzPrefix]="prefixTplTwo"
            [nzSuffix]="'个'" [nzValueStyle]="{ color: '#CF1322' }">
          </nz-statistic>
          <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
        </nz-card>
      </div>

    
  </nz-row>
  <nz-row [nzGutter]="20">
      <div nz-col [nzSpan]="6" nzXs="24" nzSm="12" nzMd="12" nzLg="6">
          <nz-card style="height: 120px;">
            <nz-statistic [nzValue]="record.OpenStartDate||0|date" [nzTitle]="'从'" [nzPrefix]="prefixTplTwo"
              [nzValueStyle]="{ color: '#CF1322'}">
            </nz-statistic>
            <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="6" nzXs="24" nzSm="12" nzMd="12" nzLg="6">
          <nz-card style="height: 120px;">
            <nz-statistic [nzValue]="record.OpenEndDate||0|date" [nzTitle]="'到'" [nzPrefix]="prefixTplTwo"
              [nzValueStyle]="{ color: '#CF1322' }">
            </nz-statistic>
            <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
          </nz-card>
        </div>
      <div nz-col [nzSpan]="6" nzXs="24" nzSm="12" nzMd="12" nzLg="6">
          <nz-card style="height: 120px;">
            <nz-statistic [nzValue]="record.CompleteStartDate||0|date" [nzTitle]="'从'" [nzPrefix]="prefixTplTwo"
              [nzValueStyle]="{ color: '#CF1322'}">
            </nz-statistic>
            <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="6" nzXs="24" nzSm="12" nzMd="12" nzLg="6">
          <nz-card style="height: 120px;">
            <nz-statistic [nzValue]="record.CompleteEndDate||0|date" [nzTitle]="'到'" [nzPrefix]="prefixTplTwo"
              [nzValueStyle]="{ color: '#CF1322' }">
            </nz-statistic>
            <ng-template #prefixTplTwo><i nz-icon type="arrow-down"></i></ng-template>
          </nz-card>
        </div>
  </nz-row>


</nz-card>
<nz-card>
    <g2-timeline [padding]="[40,20,40,50]" mask="YYYY/MM/DD" [data]="timeJobData" [colorMap]="{y1:'red',y2:'green'}" [titleMap]="{y1: '开案', y2: '结案'}" [height]="280"></g2-timeline>
    <g2-timeline [padding]="[40,20,40,50]" mask="YYYY/MM/DD" [data]="timeJobCountData" [colorMap]="{y1:'red',y2:'green'}" [titleMap]="{y1: '开案', y2: '结案'}" [height]="280"></g2-timeline>
</nz-card>
