
    <page-header [title]="engineerName">
        <div nz-row [nzGutter]="24">
          <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <g2-card id="card1" [bordered]="true" [title]="'年度完成情况'" contentHeight="40px"
              [total]="thisYearJobNos||'Nothing'" [action]="action1" [footer]="footer1">
              <!-- <trend flag="up" style="display:block; margin-top:2px;">个数占比：<span class="pl-sm">{{percentYearofNos}}</span>
              </trend>
              <trend flag="up" style="display:block; margin-top:2px;">金额占比：<span class="pl-sm">{{percentYearofAmount}}</span>
              </trend> -->
      
              <ng-template #action1>
                <nz-tooltip [nzTitle]="titleTemplate1">
                  <i nz-tooltip nz-icon type="info-circle"></i>
                </nz-tooltip>
              </ng-template>
              <ng-template #titleTemplate1>
                <i nz-icon nzType="file" style="margin-right: 8px"></i> <span>Target of this
                  year:</span>
              </ng-template>
              <ng-template #footer1>
                <p class="text-truncate mb0">
                  <span class="ml-sm">Till Last Month:{{ thisYearJobAmount | _currency }}</span>
                </p>
              </ng-template>
            </g2-card>
          </div>
          <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <g2-card id="card2" [bordered]="true" [title]="'月度完成情况'" [total]="thisMonthJobNos||'Nothing'" contentHeight="40px"
              [action]="action2" [footer]="footer2">
              <!-- <trend flag="up" style="display:block; margin-top:2px;">个数占比：<span class="pl-sm">{{percentMonthofNos}}</span>
              </trend>
              <trend flag="up" style="display:block; margin-top:2px;">金额占比：<span class="pl-sm">{{percentMonthofAmount}}</span>
              </trend> -->
              <ng-template #action2>
                <nz-tooltip [nzTitle]="titleTemplate2">
                  <i nz-tooltip nz-icon type="info-circle"></i>
                </nz-tooltip>
              </ng-template>
              <ng-template #titleTemplate2>
                <i nz-icon nzType="file" style="margin-right: 8px"></i> <span>Target of this
                  month</span>
              </ng-template>
      
              <ng-template #footer2>
                <p class="text-truncate mb0">
                  <span class="ml-sm">Till Yesterday:{{ thisMonthJobAmount | _currency }} </span>
                </p>
              </ng-template>
            </g2-card>
          </div>
          <!-- <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
            <g2-card id="card3" [bordered]="true" [title]="'进出比情况'" contentHeight="55px" [action]="action3"
              [footer]="footer3">
              <ng-template #action3>
                <nz-tooltip [nzTitle]="titleTemplate3">
                  <i nz-tooltip nz-icon type="info-circle"></i>
                </nz-tooltip>
              </ng-template>
              <ng-template #titleTemplate3>
                <i nz-icon nzType="file" style="margin-right: 8px"></i> <span>Target of this
                  month:</span>
              </ng-template>
              <div height="120" id="chartDiv"></div>
              <ng-template #footer3>
                <p class="text-truncate mb0">
                  <span class="ml-sm">IO ratio:45% </span>
                </p>
              </ng-template>
            </g2-card>
          </div> -->
          <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <g2-card id="card4" [bordered]="true" [title]="'历史完成情况'" [total]="everJobNos||'Nothing'" contentHeight="40px"
              [action]="action4" [footer]="footer4">
              <!-- <trend flag="up" style="display:block; margin-top:2px;">个数占比：<span class="pl-sm">{{percentEverofNos}}</span>
              </trend>
              <trend flag="up" style="display:block; margin-top:2px;">金额占比：<span class="pl-sm">{{percentEverofAmount}}</span>
              </trend> -->
              <ng-template #action4>
                <nz-tooltip [nzTitle]="titleTemplate4">
                  <i nz-tooltip nz-icon type="info-circle"></i>
                </nz-tooltip>
              </ng-template>
              <ng-template #titleTemplate4>
                <i nz-icon nzType="file" style="margin-right: 8px"></i> <span>Target of this
                  month:</span>
              </ng-template>
      
              <ng-template #footer4>
                <p class="text-truncate mb0">
                  <span class="ml-sm">History:{{ everJobAmount | _currency }} </span>
                </p>
              </ng-template>
            </g2-card>
          </div>
        </div>
        <nz-card>
          <g2-timeline mask="MM/DD" [data]="timeJobData" [colorMap]="{y1:'red',y2:'green'}" [titleMap]="{y1: '开案', y2: '结案'}" [height]="300"></g2-timeline>
        </nz-card>
        <div class="d-flex align-items-center mb-lg">
          <h3 class="flex-1 text-lg">项目列表</h3>
          <div>
      
            <nz-radio-group [(ngModel)]="status" nzButtonStyle="solid" class="mr-md">
              <label nz-radio-button [nzValue]="'joh'">
                <span>进行中</span>
              </label>
              <label nz-radio-button [nzValue]="'jfm'">
                <span>本月完成</span>
              </label>
              <label nz-radio-button [nzValue]="'jfy'">
                <span>本年完成</span>
              </label>
              <label nz-radio-button [nzValue]="'jfe'">
                <span>历史完成</span>
              </label>
            </nz-radio-group>
            <!-- <nz-input-group nzSuffixIcon="anticon anticon-search" style="width: 270px;">
              <input type="text" nz-input placeholder="请输入">
            </nz-input-group> -->
          </div>
        </div>
        <nz-table #nzTable [nzData]="ptsShow" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
          [nzShowQuickJumper]="'true'">
          <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
              <th nzSortKey="ProjectNo" nzShowSort>
                Job No
                <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" #dropdown>
                  <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
                    nz-dropdown></i>
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                      Search
                    </button>
                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                  </div>
                </nz-dropdown>
              </th>
              <th nzShowSort nzSortKey="OpenDate">Open Date</th>
              <th nzShowSort nzSortKey="ClientName">Client</th>
              <th nzShowSort nzSortKey="ServiceNames">Services</th>
              <th nzShowSort nzSortKey="QuotedFee">Fee</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ptsShow">
              <td>{{ data.ProjectNo }}</td>
              <td>{{ data.OpenDate|date }}</td>
              <td>{{ data.ClientName }}</td>
              <td>{{ data.ServiceNames }}</td>
              <td>{{ data.QuotedFee|_currency }}</td>
            </tr>
          </tbody>
        </nz-table>
      </page-header>

