<nz-card>
  <sf #sf [schema]="periodSchema" layout="inline" [button]="sfBtn" (formSubmit)="submit($event)"></sf>
</nz-card>
<nz-spin [nzSpinning]="isFinished" nzTip="Loading...">
  

<nz-card nzTitle="Business">
  <g2-pie [hasLegend]="true" title="业务" subTitle="总计金额" [total]="totalAmount" [valueFormat]="format"
    [data]="jobAmountPieBiz" height="294"></g2-pie>

  <g2-pie [hasLegend]="true" title="业务" subTitle="总计个数" [total]="totalCount" [valueFormat]="format"
    [data]="jobCountPieBiz" height="294"></g2-pie>

  <div id="divJob"></div>
</nz-card>
<nz-card nzTitle="Engineers">
  <div id="divEng"></div>
</nz-card>

<nz-card nzTitle="Job in">
  <g2-timeline [padding]="[40,20,40,50]" mask="MM/DD" [data]="jobStatusData" [colorMap]="{y1:'red',y2:'green'}"
    [titleMap]="{y1: '开案', y2: '结案'}" [height]="280"></g2-timeline>
</nz-card>
</nz-spin>
